$bg: #002E56;
$accent: #62E3FF;
$primary: #fff;
$secondary: #BEBEBE;
$tertiary: #A6A6A6;
$brighter: #dcc3c3;
$bg-2: #003F77;


div#about {

    .container {
        padding: 1.5em;

        p {
            color: $tertiary;

            span {
                color: $accent;
            }
        }

        div.picture-container {
            margin: auto;
            text-align: center;
        }

        img#picture {
            margin-top: 2em;
            width: 13rem;
            height: 13rem;
            border: 2px solid $accent;
            border-radius: 5px;
        }
    }
}



