$bg: #001f39;
$accent: #62E3FF;
$primary: #fff;
$secondary: #c1c1c1;
$tertiary: #A6A6A6;
$brighter: #D6D6D6;
$bg-2: #00325e;
$hover-bg: #00539b;

div.awards {

    .container {
        padding: 1.5em;

        .award-row {
            display: grid;
            justify-items: center;
            grid-gap: 15px;

            .aos-award {
                justify-items: center;
            }

            .award {
                text-align: center;
                background-color: $bg-2;
                padding: 2em;
                border-radius: 10px;
                transition: 0.2s;
                top: 0;
                position: relative;

                h3.award-title {
                    margin: 0;
                    color: white;
                }

                p.award-issuer {
                    color: $accent;
                    font-weight: bold;
                    font-family: 'Hack';
                    font-size: 1.0em;
                    margin-top: 0.6em;
                    margin-bottom: 0.6em;
                }

                p.award-blurb {
                    color: $brighter;
                    margin-bottom: 0;
                    margin-top: 1.4em;
                    text-align: left;
                    line-height: 1.4;
                }

                &:hover {
                    transition: 0.2s;
                    top: -10px;
                    background-color: $hover-bg;
                }
            }


        }

    }
}


@media only screen and (min-width: 700px) {

    div.awards {

        .container {
            padding: 4.0em;

            .award-row {
                grid-template-columns: 1fr 1fr;

                .award {
                    width: 80%;
                    height: 250px;
                    padding: 1.8em;
                }
            }
        }
    }
}


@media only screen and (min-width: 850px) {

    div.awards {
        .container {
            .award-row {
                .award {
                    height: 230px;
                }
            }
        }
    }
}

@media only screen and (min-width: 950px) {

    div.awards {
        .container {
            .award-row {
                .award {
                    height: 200px;
                }
            }
        }
    }
}


@media only screen and (min-width: 1024px) {

    div.awards {

        .container {
            justify-items: center;

            .award-row {
                max-width: 950px;
                grid-template-columns: repeat(3, minmax(250px, 1fr));

                .award {
                    max-width: 350px;
                    width: 80%;
                    height: 270px;

                    p.award-blurb {
                        margin-top: 2.4em;
                    }
                }
            }
        }
    }
}