$bg: #002E56;
$accent: #62E3FF;
$primary: #fff;
$secondary: #BEBEBE;
$tertiary: #A6A6A6;
$brighter: #D6D6D6;
$bg-2: #003F77;


#hero {

    .container {
        padding: 1.5em;

        .greeting {
            color: $accent;
        }

        .name {
            color: white;
            font-size: 2.6em;
            margin: 0;
        }

        .hero-sentence {
            color: $secondary;
            font-size: 2.2em;
            margin: 0.5em 0 1em 0;
        }

        .desc {
            color: $secondary;
            line-height: 1.5;
        }

        a {
            text-decoration: none;
            color: $accent;
            font-size: 1.1em;

            .github-cta {
                border: 2px solid $accent;
                color: $accent;
                display: inline-block;
                padding: 0.6em 0.8em;
                margin-top: 1.6em;
                transition: 0.2s;

                &:hover {
                    background-color: #004683;
                    transition: 0.2s;
                }

            }

        }
    }



}
